<ion-header>
  <ion-toolbar>

    <ion-button class="logo-text" size="small" expand="block" fill="outline" shape="round">La Réussite Immobilière
    </ion-button>
    <ion-button  class="home" routerLink='/home'  fill="outline" > 
      <ion-icon name="home" ></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content  >
 <h2>
   Public
 </h2>
</ion-content>
  <ion-footer>

    
    <div class="retour">
        <ion-buttons slot="start">
        <ion-icon name="arrow-back-circle-outline" size="large"  routerLink="/menu"></ion-icon>    
      </ion-buttons>
    </div>
      </ion-footer>