body{
    background-color:#f5f5f3;
}
.logo-text{
    position:fixed;
    left: 75px;
    top: 10px;
    right: 75px;
    
}

.home{
float: right;
right: 15px;
left: 15px;
top: 20px;
bottom: 40px;
margin-right: 10px;
}


.header{
    text-align: center;
margin-right: 10px;
margin-left: 10px;
}
ion-grid{
    margin-top: 50px;
}
div{
    .utilisateurs{
            background-color:#f5f5f3;
            margin:25px;
            position:fixed;
            left: 25px;
            top: 70px;
            right: 25px;
            // width: 75vh;
            ion-button{
                      margin: 15px;
                      color:rgb(117, 207, 243);
                    }
                }
                
}

            ion-content{
                --background:#f5f5f3;


                ion-list {
                ion-card {
                    margin-left: 25px;
                    margin-right: 25px;
                  ion-card-header{
                      color: aqua;
                   
                                  ion-item{
                                  --background:#f5f5f3;
                                  ion-card-title{
                                    position: absolute;
                                    left: 25px;
                                    right: 25px;
                                  }
                                }
                  }
                  ion-item{
          
                    ion-button {
                        position: absolute;
                        left: 25px;
                        right: 25px;
                    }
                     
                                    }
                  ion-card-content{
                    ion-item{
                        //   ion-icon{}
                        ion-label{
                          margin-left: 10px;

                      }
                    }
                    // ion-item{
                    //   ion-icon {}
                    //   ion-label{}
                    // }
                                }
          
                }
                
            }
                ion-segment{
                    --background:white;
                    position:fixed;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    ion-segment-button{
                        margin: 0%;
                        ion-label{
                            font-size: 12px;
                        }
                    
                }
              }
            }
            //     .contact{
                //         background-color:#f5f5f3;
                //         position:sticky;
    //         left: 10px;
    //         // bottom: 70px;
    //         right: 10px;
            // overflow: auto;
            //     ::-webkit-scrollbar{
            //         width: 14px;
            //         height: 14px;
            //         background: #bfb6a3;
            //         display: block;
            //     }

            
            
            // ion-card{
                //     position:sticky;
                //     left: 55px;
                // //     top: 0px;
            //     right: 55px;
            //     // max-height: auto;
            //     display: block;
                // flex-direction: column;
                // background-color:#5598ff;
                // overflow: auto;
                // ::-webkit-scrollbar{
                    //     width: 14px;
                    //     height: 14px;
                    //     background: #bfb6a3;
                    //     display: block;
                    
                    
                    
                    //     margin: 55px;
                    
            //         ion-card-header{
            //             color:white;
            //             ion-item{
            //                 align-items: center;
            //             --background:#f5f5f3;
            //             ion-card-title{
            //                 text-align: center;
            //             }
            //     }
            // }
                
                
                // ion-item{
                //     // text-align: center;
                //     margin-left:10px;
                //     ion-button{
                //         position: absolute;
                //         left: 25px;
                //         right: 25px;
                //         // align-items: center;
                //         font-family: 'Courier New', Courier, monospace;
                //         font-weight: 100;
                //         font-size: 12px;
                //         color:black;
                //         background-color: whitesmoke;
                //     }

                // }
                // ion-card-content{
                //         background-color: #62ceff;
                //         color: black;
                //         font-size: 22px;
                //         font-weight: bolder;
                // }
            // }
        // }
                // }
                //     ion-label{
                    //         background-color: #3ae0ae;
                //         text-align: left;
                        
            // }
        // ion-card-content{
        //     background-color: #09bd27;
        //     text-align: left;
            
        // }
        // ion-footer{
        //     text-align:center;
        //     background-color: #f033a1;

        // }
        // }
    
        
        // ion-list {
        //     overflow: hidden;
        //     overflow-y: auto;
        //     ::-webkit-scrollbar {
        //         display: none;
        //     }
        //     ion-card {
        //         max-height: 100%;
        //         display: flex;
        //         flex-direction: column;
        //     }
            
        // }