ion-icon{
  margin-left: 5px;
  margin-right: 5px;
}

.inscrire{
    margin-bottom: 25px;
}

.retour{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}
body{
    background-color:#f5f5f3;
}

.logo-text{
    position:fixed;
    left: 75px;
    top: 10px;
    right: 75px;
    
}

.home{
float: right;
right: 15px;
left: 15px;
top: 20px;
bottom: 40px;
margin-right: 10px;
}

ion-content{
    --background:#f5f5f3;
    margin-top: 50px;
    }